/* 通用样式 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  color: white;
  line-height: 1.5;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 20px 0;
}

h2 {
  font-size: 45px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}
/* 导航条 */
.main-nav {
  background-color: rebeccapurple;
}
.main-nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 10px 40px;
}
.main-nav .logo {
  width: 250px;
}
.main-nav ul {
  display: flex;
  align-items: center;
}
.main-nav li {
  margin: 0 20px;
}
.main-nav a:hover {
  color: #ccc;
}
/* 头部样式 */
.showcase {
  height: 600px;
  background: url(../images/showcase-bg.png) no-repeat center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 2;
}
.showcase h2 {
  font-size: 20px;
  color: rgb(156, 78, 233);
  margin-bottom: 22px;
}
.showcase h1 {
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 1.7;
  font-weight: 400;
}
.showcase h4 {
  color: #ccc;
  margin: 30px 0 20px 0;
}
.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 2, 39, 0.9);
  z-index: -2;
}
.showcase .btn {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rebeccapurple;
  padding: 10px;
  width: 140px;
  height: 50px;
  margin: 0 auto;
  border-radius: 10px;
}
.showcase .btn img {
  height: 30px;
  width: 30px;
}
/* 测试 */
.projects {
  height: 600px;
  background-color: pink;
}
.projects ul {
  display: flex;
  justify-content: space-between;
}
.projects li {
  width: 240px;
  height: 240px;
  background-color: rebeccapurple;
  border: 1px solid black;
  text-align: center;
  line-height: 240px;
}

/* 媒体查询-700px */
@media (max-width: 700px) {
  .main-nav .logo {
    width: 50px;
  }
}
